In [1]:
import pymysql
import re
import json
import pandas as pd

import os
import numpy as np
import warnings
import sys

In [2]:
def pre_process(text):
    """
    Preprocesses Tweet text for sentiment analysis.
    :param text:
    :return: cleaned text
    """
    text = str(text)
    # Remove links
    text = re.sub('http:\S+|https:\S+', '', text)
    text = re.sub(r"http\S+", "", text)

    # Convert HTML references
    text = re.sub('&amp', 'and', text)
    text = re.sub('&lt', '<', text)
    text = re.sub('&gt', '>', text)

    # Remove new line characters
    text = re.sub('\\n|[\r\n]+', ' ', text)

    # Remove multiple space characters
    text = re.sub('\s+', ' ', text)

    # Convert emojis to text
    # text = emoji.demojize(text, delimiters=("", ""))

    return str(text)

In [3]:
import json
import pandas as pd
import os
import numpy as np
import warnings
import sys

# removes SettingWithCopyWarning
pd.options.mode.chained_assignment = None

# removes Future Warning
warnings.simplefilter(action='ignore', category=FutureWarning)


# Json file cleaning function
def json_cleaning(filename):
    """
    Cleans JSON files to make them suitable for MySQL.
    :param filename:
    :return: cleaned dataframe
    """
    df = pd.read_json(open(filename, "r", encoding="utf8"), lines=True)
    df = df[
        ['created_at', 'id_str', 'text', 'in_reply_to_status_id_str', 'in_reply_to_user_id_str', 'user', 'coordinates',
         'quote_count', 'reply_count', 'retweet_count', 'entities', 'favorite_count', 'retweeted', 'filter_level',
         'lang', 'extended_tweet']]
    df.rename(columns={'created_at': 'tweet_created_at'}, inplace=True)

    # making extra datetime columns
    df['year_tweet'] = pd.DatetimeIndex(df['tweet_created_at']).year
    df['month_tweet'] = pd.DatetimeIndex(df['tweet_created_at']).month
    df['day_tweet'] = pd.DatetimeIndex(df['tweet_created_at']).day
    df['time_tweet'] = pd.DatetimeIndex(df['tweet_created_at']).time

    # add User Object to main dataframe
    df_user = df['user'].apply(pd.Series)
    df_user = df_user[['id_str', 'verified', 'followers_count']]
    df_user.columns = 'user_' + df_user.columns

    df = pd.concat([df_user, df.drop('user', axis=1)], axis=1)

    # add entities as columns to main dataframe
    df_entity = df['entities'].apply(pd.Series)
    df_entity = df_entity[['user_mentions', 'hashtags']]
    df_entity.columns = 'entity_' + df_entity.columns

    df = pd.concat([df_entity, df.drop('entities', axis=1)], axis=1)

    # add extended tweet to main dataframe
    df_extended_tweet = df['extended_tweet'].apply(pd.Series)
    df_extended_tweet = df_extended_tweet[['full_text']]
    df_extended_tweet.columns = 'extended_' + df_extended_tweet.columns

    df = pd.concat([df_extended_tweet, df.drop('extended_tweet', axis=1)], axis=1)

    # fixing User Mentions in entities
    isna = df['entity_user_mentions'].isna()
    df.loc[isna, 'entity_user_mentions'] = pd.Series([[]] * isna.sum()).values
    for index, info in df[['entity_user_mentions']].iterrows():
        str_list = []
        for dictionary in info[0]:
            name = dictionary['screen_name']
            mention_id = dictionary['id_str']
            value = (str(name), str(mention_id))
            str_list.append(value)
        f_value = ",".join(map(str, str_list))
        df['entity_user_mentions'][index] = f_value

    # fixing hashtags in entities
    isna2 = df['entity_hashtags'].isna()
    df.loc[isna2, 'entity_hashtags'] = pd.Series([[]] * isna2.sum()).values
    for index, info in df[['entity_hashtags']].iterrows():
        str_list = []
        for dictionary in info[0]:
            text = dictionary['text']
            str_list.append(text)
        f_value = ",".join(map(str, str_list))
        df['entity_hashtags'][index] = f_value

    # light cleaning on the tweets' text
    for index, info in df[['text']].iterrows():
        pro_text = pre_process(info[0])
        df['text'][index] = pro_text

    # light cleaning on the extended text
    for index, info in df[['extended_full_text']].iterrows():
        pro_text = pre_process(str(info[0]))
        df['extended_full_text'][index] = pro_text

    # removes wrong rows
    wrong_rows = df[df['user_id_str'].isna()]
    df = df.drop(index=list(wrong_rows.index))

    # cleaning coordinates columns
    df['coordinates'].fillna('', inplace=True)
    for index, info in df[['coordinates']].iterrows():
        row = dict(info[0])
        coordinates = ''
        for key, value in row.items():
            if key == 'coordinates':
                coordinates = str(value)
        df.loc[index, 'coordinates'] = coordinates

    # making the texts one column
    df['full_text'] = np.nan
    for index, info in df[['extended_full_text']].iterrows():
        if info[0] != 'nan':
            df['full_text'][index] = info[0]
        else:
            df['full_text'][index] = df['text'][index]
    df = df.drop(columns=['extended_full_text', 'text'])

    # correcting column types
    df = df.where(df.notnull(), None)
    df['user_followers_count'] = df['user_followers_count'].astype(int)
    df['id_str'] = df['id_str'].astype(str)
    df['user_id_str'] = df['user_id_str'].astype(str)
    df['quote_count'] = df['quote_count'].astype(int)
    df['reply_count'] = df['reply_count'].astype(int)
    df['retweet_count'] = df['retweet_count'].astype(int)
    df['favorite_count'] = df['favorite_count'].astype(int)
    df['retweeted'] = df['retweeted'].astype(int)
    df['coordinates'] = df['coordinates'].astype(str)
    df['year_tweet'] = df['year_tweet'].astype(int)
    df['month_tweet'] = df['month_tweet'].astype(int)
    df['day_tweet'] = df['day_tweet'].astype(int)
    df['in_reply_to_user_id_str'] = df['in_reply_to_user_id_str'].astype(str)
    df['in_reply_to_status_id_str'] = df['in_reply_to_status_id_str'].astype(str)

    # drop duplicate rows
    df.drop_duplicates()

    return df

In [19]:
final = df[0:0]

In [20]:
wrong_files = []

In [5]:
# df = json_cleaning('data/1/1.1\\airlines-1585470568347.json')

CHANGE the path to the folder where all the data is

In [50]:
path = 'data/3' #add the path of the folder on your own computer
files_list = []
for filename in os.listdir(path):
    f = os.path.join(path, filename)
    if os.path.isfile(f):
        files_list.append(f"{f}")
print(files_list)


for file in files_list:
    try:
        result = json_cleaning(file)
        df_start = result[(result['in_reply_to_user_id_str']=='nan')&(result['in_reply_to_status_id_str']=='nan')]
        df_valid = result[(result['in_reply_to_user_id_str']!='nan')&(result['in_reply_to_status_id_str']!='nan')]
        df_all = pd.concat([df_start, df_valid])
        final = final.append(df_all, ignore_index=True)
    except:
        wrong_files.append(file)

['data/3\\airlines-1560978307300.json', 'data/3\\airlines-1561022289578.json', 'data/3\\airlines-1561049226682.json', 'data/3\\airlines-1561082554486.json', 'data/3\\airlines-1561113923197.json', 'data/3\\airlines-1561144186198.json', 'data/3\\airlines-1561207094360.json', 'data/3\\airlines-1561272936313.json', 'data/3\\airlines-1561288155121.json', 'data/3\\airlines-1561303000123.json', 'data/3\\airlines-1561324694075.json', 'data/3\\airlines-1561359351927.json', 'data/3\\airlines-1561397411189.json', 'data/3\\airlines-1561459414825.json', 'data/3\\airlines-1561509319618.json', 'data/3\\airlines-1561544763662.json', 'data/3\\airlines-1561592689779.json', 'data/3\\airlines-1561669318337.json', 'data/3\\airlines-1561753469078.json', 'data/3\\airlines-1561821435981.json', 'data/3\\airlines-1561891783071.json', 'data/3\\airlines-1561961961307.json', 'data/3\\airlines-1562009333840.json', 'data/3\\airlines-1562032544994.json', 'data/3\\airlines-1562054794843.json', 'data/3\\airlines-1562080025478.json', 'data/3\\airlines-1562097744537.json', 'data/3\\airlines-1562118937035.json', 'data/3\\airlines-1562153863515.json', 'data/3\\airlines-1562189881221.json', 'data/3\\airlines-1562239305029.json', 'data/3\\airlines-1562314017303.json', 'data/3\\airlines-1562395985506.json', 'data/3\\airlines-1562480351260.json', 'data/3\\airlines-1562545060770.json', 'data/3\\airlines-1562588173467.json', 'data/3\\airlines-1562611153425.json', 'data/3\\airlines-1562661299036.json', 'data/3\\airlines-1562699879739.json', 'data/3\\airlines-1562752006654.json', 'data/3\\airlines-1562792314990.json', 'data/3\\airlines-1562856369187.json', 'data/3\\airlines-1562932107172.json', 'data/3\\airlines-1563003416883.json', 'data/3\\airlines-1563101555073.json', 'data/3\\airlines-1563172200368.json', 'data/3\\airlines-1563210091002.json', 'data/3\\airlines-1563269333575.json', 'data/3\\airlines-1563325037695.json', 'data/3\\airlines-1563373609748.json', 'data/3\\airlines-1563397751674.json', 'data/3\\airlines-1563442298344.json', 'data/3\\airlines-1563470279088.json', 'data/3\\airlines-1563516748993.json', 'data/3\\airlines-1563556192060.json', 'data/3\\airlines-1563624058288.json', 'data/3\\airlines-1563647983588.json', 'data/3\\airlines-1563666228234.json', 'data/3\\airlines-1563704685452.json', 'data/3\\airlines-1563748765905.json', 'data/3\\airlines-1563825539242.json', 'data/3\\airlines-1563903961004.json', 'data/3\\airlines-1563968741868.json', 'data/3\\airlines-1564025419456.json', 'data/3\\airlines-1564094685067.json', 'data/3\\airlines-1564153524120.json', 'data/3\\airlines-1564231911201.json', 'data/3\\airlines-1564316762801.json', 'data/3\\airlines-1564384849254.json', 'data/3\\airlines-1564434306973.json', 'data/3\\airlines-1564504627943.json', 'data/3\\airlines-1564573166634.json', 'data/3\\airlines-1564631699343.json', 'data/3\\airlines-1564695251657.json', 'data/3\\airlines-1564762932523.json', 'data/3\\airlines-1564844940056.json', 'data/3\\airlines-1564937996457.json', 'data/3\\airlines-1565013498420.json', 'data/3\\airlines-1565052865307.json', 'data/3\\airlines-1565087404314.json', 'data/3\\airlines-1565091007326.json', 'data/3\\airlines-1565096511018.json', 'data/3\\airlines-1565104490513.json', 'data/3\\airlines-1565112589587.json', 'data/3\\airlines-1565119387407.json', 'data/3\\airlines-1565125088676.json', 'data/3\\airlines-1565129893234.json', 'data/3\\airlines-1565137364316.json', 'data/3\\airlines-1565155185952.json', 'data/3\\airlines-1565165605999.json', 'data/3\\airlines-1565173381822.json', 'data/3\\airlines-1565182580323.json', 'data/3\\airlines-1565191896076.json', 'data/3\\airlines-1565197242190.json', 'data/3\\airlines-1565201911679.json', 'data/3\\airlines-1565206976894.json', 'data/3\\airlines-1565211597502.json', 'data/3\\airlines-1565215763728.json', 'data/3\\airlines-1565220554203.json', 'data/3\\airlines-1565226586019.json', 'data/3\\airlines-1565234270027.json', 'data/3\\airlines-1565242706317.json', 'data/3\\airlines-1565250779270.json', 'data/3\\airlines-1565257548038.json', 'data/3\\airlines-1565262896575.json', 'data/3\\airlines-1565268304930.json', 'data/3\\airlines-1565274607982.json', 'data/3\\airlines-1565281880081.json', 'data/3\\airlines-1565291098516.json', 'data/3\\airlines-1565303226697.json', 'data/3\\airlines-1565324465707.json', 'data/3\\airlines-1565349808914.json', 'data/3\\airlines-1565379478502.json', 'data/3\\airlines-1565417645907.json', 'data/3\\airlines-1565449903523.json', 'data/3\\airlines-1565501415900.json', 'data/3\\airlines-1565555196884.json', 'data/3\\airlines-1565621284206.json', 'data/3\\airlines-1565690832660.json', 'data/3\\airlines-1565725758645.json', 'data/3\\airlines-1565788655834.json', 'data/3\\airlines-1565834211570.json', 'data/3\\airlines-1565894560588.json', 'data/3\\airlines-1566677929127.json', 'data/3\\airlines-1566740273633.json', 'data/3\\airlines-1566805349064.json', 'data/3\\airlines-1566880271019.json', 'data/3\\airlines-1566941613582.json', 'data/3\\airlines-1567004578246.json', 'data/3\\airlines-1567070948809.json', 'data/3\\airlines-1567125992264.json', 'data/3\\airlines-1567186205835.json', 'data/3\\airlines-1567253263285.json', 'data/3\\airlines-1567315175041.json', 'data/3\\airlines-1567378571444.json', 'data/3\\airlines-1567449472338.json', 'data/3\\airlines-1567521642417.json', 'data/3\\airlines-1567582533141.json', 'data/3\\airlines-1567616910346.json', 'data/3\\airlines-1567668688294.json', 'data/3\\airlines-1567718531473.json', 'data/3\\airlines-1567769168515.json', 'data/3\\airlines-1567784494001.json', 'data/3\\airlines-1567817677039.json', 'data/3\\airlines-1567847416301.json', 'data/3\\airlines-1567886720389.json', 'data/3\\airlines-1567938572796.json', 'data/3\\airlines-1568014234396.json', 'data/3\\airlines-1568060751259.json', 'data/3\\airlines-1568140713185.json', 'data/3\\airlines-1568226335823.json', 'data/3\\airlines-1568307204842.json', 'data/3\\airlines-1568380949217.json', 'data/3\\airlines-1568452849699.json', 'data/3\\airlines-1568543108026.json', 'data/3\\airlines-1568627065211.json', 'data/3\\airlines-1568644354457.json', 'data/3\\airlines-1568693676151.json', 'data/3\\airlines-1568752818478.json', 'data/3\\airlines-1568817941503.json', 'data/3\\airlines-1568885472577.json', 'data/3\\airlines-1568938676075.json', 'data/3\\airlines-1569009543825.json', 'data/3\\airlines-1569074625104.json', 'data/3\\airlines-1569094938738.json', 'data/3\\airlines-1569142637229.json', 'data/3\\airlines-1569166768885.json', 'data/3\\airlines-1569220908772.json', 'data/3\\airlines-1569254133339.json', 'data/3\\airlines-1569294918106.json', 'data/3\\airlines-1569354911944.json', 'data/3\\airlines-1569435710692.json', 'data/3\\airlines-1569507599149.json', 'data/3\\airlines-1569582022248.json', 'data/3\\airlines-1569654156879.json', 'data/3\\airlines-1569751953848.json', 'data/3\\airlines-1569838635723.json', 'data/3\\airlines-1569905077230.json', 'data/3\\airlines-1569957146471.json', 'data/3\\airlines-1570021858243.json', 'data/3\\airlines-1570104381202.json', 'data/3\\airlines-1571833540244.json', 'data/3\\airlines-1571928067909.json', 'data/3\\airlines-1571992099963.json', 'data/3\\airlines-1572039434303.json', 'data/3\\airlines-1572137811314.json', 'data/3\\airlines-1572257798481.json', 'data/3\\airlines-1572344062543.json', 'data/3\\airlines-1572399303683.json', 'data/3\\airlines-1572469361570.json', 'data/3\\airlines-1572540383196.json', 'data/3\\airlines-1572604218991.json', 'data/3\\airlines-1572681600416.json', 'data/3\\airlines-1572778018865.json', 'data/3\\airlines-1572828808728.json', 'data/3\\airlines-1572875666524.json', 'data/3\\airlines-1572945192610.json', 'data/3\\airlines-1573003645026.json', 'data/3\\airlines-1573062400777.json', 'data/3\\airlines-1573124307753.json', 'data/3\\airlines-1573176040370.json', 'data/3\\airlines-1573229502947.json', 'data/3\\airlines-1573295108427.json', 'data/3\\airlines-1573395435960.json', 'data/3\\airlines-1573486920006.json', 'data/3\\airlines-1573542500268.json', 'data/3\\airlines-1573618493324.json', 'data/3\\airlines-1573705754896.json', 'data/3\\airlines-1573758483877.json', 'data/3\\airlines-1573816030180.json', 'data/3\\airlines-1573874190525.json', 'data/3\\airlines-1573937371526.json', 'data/3\\airlines-1573997583093.json', 'data/3\\airlines-1574063028292.json', 'data/3\\airlines-1574116023081.json', 'data/3\\airlines-1574179660251.json', 'data/3\\airlines-1574233911448.json', 'data/3\\airlines-1574251675212.json', 'data/3\\airlines-1574259029281.json', 'data/3\\airlines-1574272063698.json', 'data/3\\airlines-1574283518752.json', 'data/3\\airlines-1574298655714.json', 'data/3\\airlines-1574333856480.json', 'data/3\\airlines-1574380947373.json', 'data/3\\airlines-1574463064329.json', 'data/3\\airlines-1574581799337.json', 'data/3\\airlines-1574661468653.json', 'data/3\\airlines-1574687819455.json', 'data/3\\airlines-1574703282348.json', 'data/3\\airlines-1574720739581.json', 'data/3\\airlines-1574757507153.json', 'data/3\\airlines-1574785783207.json', 'data/3\\airlines-1574802913299.json', 'data/3\\airlines-1574827585917.json', 'data/3\\airlines-1574867908886.json', 'data/3\\airlines-1574911166879.json', 'data/3\\airlines-1574966468488.json', 'data/3\\airlines-1575031834951.json', 'data/3\\airlines-1575127040550.json', 'data/3\\airlines-1575224576053.json', 'data/3\\airlines-1575313134067.json', 'data/3\\airlines-1575388368311.json', 'data/3\\airlines-1575454484710.json', 'data/3\\airlines-1575476825544.json', 'data/3\\airlines-1575513696428.json', 'data/3\\airlines-1575577085045.json', 'data/3\\airlines-1575666269111.json', 'data/3\\airlines-1575749628947.json', 'data/3\\airlines-1575837521578.json', 'data/3\\airlines-1575909545660.json', 'data/3\\airlines-1575931946524.json', 'data/3\\airlines-1575981568546.json', 'data/3\\airlines-1576030359863.json', 'data/3\\airlines-1576091684744.json', 'data/3\\airlines-1576171883381.json', 'data/3\\airlines-1576239836372.json', 'data/3\\airlines-1576321734654.json', 'data/3\\airlines-1576434172376.json', 'data/3\\airlines-1576534929270.json', 'data/3\\airlines-1576606211486.json', 'data/3\\airlines-1576670019255.json', 'data/3\\airlines-1576747579772.json', 'data/3\\airlines-1576837775791.json', 'data/3\\airlines-1576927505418.json', 'data/3\\airlines-1577007732405.json', 'data/3\\airlines-1577109311883.json', 'data/3\\airlines-1577190403958.json', 'data/3\\airlines-1577298810504.json', 'data/3\\airlines-1577431465337.json', 'data/3\\airlines-1577494621395.json', 'data/3\\airlines-1577590361719.json', 'data/3\\airlines-1577675477872.json', 'data/3\\airlines-1577781214624.json', 'data/3\\airlines-1577886717870.json', 'data/3\\airlines-1577931346485.json', 'data/3\\airlines-1577970427089.json', 'data/3\\airlines-1578009946067.json', 'data/3\\airlines-1578091378328.json', 'data/3\\airlines-1578185507034.json', 'data/3\\airlines-1578258252853.json', 'data/3\\airlines-1578334368557.json', 'data/3\\airlines-1578394527431.json', 'data/3\\airlines-1578450833324.json', 'data/3\\airlines-1578482653623.json', 'data/3\\airlines-1578518222140.json', 'data/3\\airlines-1578581089298.json', 'data/3\\airlines-1578619668572.json', 'data/3\\airlines-1578684188215.json', 'data/3\\airlines-1578781445542.json', 'data/3\\airlines-1578906538733.json', 'data/3\\airlines-1578999302062.json', 'data/3\\airlines-1579088719707.json', 'data/3\\airlines-1579171990196.json', 'data/3\\airlines-1579235976341.json', 'data/3\\airlines-1579308076427.json', 'data/3\\airlines-1579407203452.json', 'data/3\\airlines-1579516572242.json', 'data/3\\airlines-1579588114303.json', 'data/3\\airlines-1579688065798.json', 'data/3\\airlines-1579778307451.json', 'data/3\\airlines-1579863614517.json', 'data/3\\airlines-1579973278155.json', 'data/3\\airlines-1580081971059.json', 'data/3\\airlines-1580166660317.json', 'data/3\\airlines-1580244240065.json', 'data/3\\airlines-1580311086572.json', 'data/3\\airlines-1580325244248.json', 'data/3\\airlines-1580359424273.json', 'data/3\\airlines-1580401682606.json', 'data/3\\airlines-1580467234872.json', 'data/3\\airlines-1580528254678.json', 'data/3\\airlines-1580581451101.json', 'data/3\\airlines-1580646684135.json', 'data/3\\airlines-1580732411794.json', 'data/3\\airlines-1580813532944.json', 'data/3\\airlines-1580849563596.json', 'data/3\\airlines-1580906556948.json', 'data/3\\airlines-1580983418709.json', 'data/3\\airlines-1581074897591.json', 'data/3\\airlines-1581153817839.json', 'data/3\\airlines-1581228721088.json', 'data/3\\airlines-1581271339290.json', 'data/3\\airlines-1581323892555.json', 'data/3\\airlines-1581378110099.json', 'data/3\\airlines-1581421831969.json', 'data/3\\airlines-1581431193259.json', 'data/3\\airlines-1581445684784.json', 'data/3\\airlines-1581470859815.json', 'data/3\\airlines-1581484082223.json', 'data/3\\airlines-1581500396221.json', 'data/3\\airlines-1581511822181.json', 'data/3\\airlines-1581526748303.json', 'data/3\\airlines-1581556808488.json', 'data/3\\airlines-1581590187616.json', 'data/3\\airlines-1581614733365.json', 'data/3\\airlines-1581634046684.json', 'data/3\\airlines-1581657075510.json', 'data/3\\airlines-1581677574895.json', 'data/3\\airlines-1581691150922.json', 'data/3\\airlines-1581701960336.json', 'data/3\\airlines-1581719862415.json', 'data/3\\airlines-1581739639989.json', 'data/3\\airlines-1581759564000.json', 'data/3\\airlines-1581784298707.json', 'data/3\\airlines-1581809443083.json', 'data/3\\airlines-1581829321611.json', 'data/3\\airlines-1581853744274.json', 'data/3\\airlines-1581874714110.json', 'data/3\\airlines-1581914237201.json', 'data/3\\airlines-1581969866504.json', 'data/3\\airlines-1582032408277.json', 'data/3\\airlines-1582070208641.json', 'data/3\\airlines-1582139237649.json', 'data/3\\airlines-1582209894259.json', 'data/3\\airlines-1582245736101.json', 'data/3\\airlines-1582290215338.json', 'data/3\\airlines-1582330881711.json', 'data/3\\airlines-1582369394338.json', 'data/3\\airlines-1582378156154.json', 'data/3\\airlines-1582388286899.json', 'data/3\\airlines-1582401855979.json', 'data/3\\airlines-1582422160260.json', 'data/3\\airlines-1582455121532.json', 'data/3\\airlines-1582486429279.json', 'data/3\\airlines-1582556942427.json', 'data/3\\airlines-1582629000085.json', 'data/3\\airlines-1582695674878.json']

C:\Users\hetvi\AppData\Local\Temp/ipykernel_13364/768326419.py:58: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df.loc[isna, 'entity_user_mentions'] = pd.Series([[]] * isna.sum()).values
C:\Users\hetvi\AppData\Local\Temp/ipykernel_13364/768326419.py:71: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df.loc[isna2, 'entity_hashtags'] = pd.Series([[]] * isna2.sum()).values

In [52]:
print(wrong_files)

['data/1/1.3\\airlines-1583171908044.json', 'data/1/1.3\\airlines-1583253051533.json', 'data/2\\airlines-1558611772040.json', 'data/2\\airlines-1558623303180.json', 'data/2\\airlines-1559860041436.json', 'data/2\\airlines-1560138591670.json', 'data/3\\airlines-1565894560588.json', 'data/3\\airlines-1569957146471.json', 'data/3\\airlines-1570104381202.json', 'data/3\\airlines-1573229502947.json', 'data/3\\airlines-1575313134067.json']

In [54]:
final.head()

,entity_user_mentions,entity_hashtags,user_id_str,user_verified,user_followers_count,tweet_created_at,id_str,in_reply_to_status_id_str,in_reply_to_user_id_str,coordinates,...,retweet_count,favorite_count,retweeted,filter_level,lang,year_tweet,month_tweet,day_tweet,time_tweet,full_text
0,"('flightradar24', '134196350')",,2817158784,False,4278,2020-03-29 08:29:22+00:00,1.2441798340388209e+18,nan,nan,,...,0,0,0,low,en,2020,3,29,08:29:22,RT @flightradar24: KLMğŸ‡³ğŸ‡± and QantasğŸ‡¦ğŸ‡º have eac...
1,"('breakingavnews', '3781510577')",,281123499,False,96,2020-03-29 08:29:27+00:00,1.2441798554004726e+18,nan,nan,,...,0,0,0,low,en,2020,3,29,08:29:27,RT @breakingavnews: Qantas' last ever 747 flig...
2,"('deemadigan', '35619835')",,926253818656018433,False,90,2020-03-29 08:29:29+00:00,1.2441798614400942e+18,nan,nan,,...,0,0,0,low,en,2020,3,29,08:29:29,RT @deemadigan: An ex-Virgin staff received th...
3,"('alfredblokhuize', '89764219'),('bergfrans', ...",,965640316907937792,False,646,2020-03-29 08:29:34+00:00,1.244179883561046e+18,nan,nan,,...,0,0,0,low,nl,2020,3,29,08:29:34,RT @alfredblokhuize: @bergfrans @RichardAbbenh...
4,"('AlwhiteBlanc', '1137101751671250944')","PontAerien,AF6901,masques",2632360764,False,2881,2020-03-29 08:29:35+00:00,1.2441798863376384e+18,nan,nan,,...,0,0,0,low,fr,2020,3,29,08:29:35,RT @AlwhiteBlanc: [#PontAerien ğŸ‡¨ğŸ‡³âœˆï¸]ğŸ‘‰ #AF6901 ...

In [55]:
final.to_csv('final_final.csv',index=False)