In [1]:
import pandas as pd
import numpy as np

Change file name according to what it is saved as

In [9]:
import pandas as pd

result = pd.read_csv('Group12-Final_code/result.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'Group12-Final_code/result.csv'

In [110]:
result[['user_id_str', 'in_reply_to_status_id_str', 'in_reply_to_user_id_str', 'id_str', 'entity_user_mentions']] = result[['user_id_str', 'in_reply_to_status_id_str', 'in_reply_to_user_id_str', 'id_str', 'entity_user_mentions']].astype(str)

In [111]:
result.head()

,Unnamed: 0,tweet_created_at,id_str,in_reply_to_user_id_str,in_reply_to_status_id_str,user_id_str,entity_user_mentions,full_text
0,0,2019-05-22 12:20:00,1.1311728589510246e+18,nan,nan,393374091,nan,La ruta de easyJet entre Londres y Menorca tra...
1,1,2019-05-22 12:20:01,1.1311728641478084e+18,nan,nan,3420691215,"('bttr_as1', '880417607865815040'),('goody_tra...",RT @bttr_as1: @goody_tracy Here’s a list of so...
2,2,2019-05-22 12:20:02,1.1311728679854858e+18,394376606.0,1.1310329162328268e+18,394376606,"('British_Airways', '18332190')",@British_Airways
3,3,2019-05-22 12:20:12,1.1311729094630276e+18,nan,nan,36488556,"('TheRaceRadio', '227687574'),('AmericanAir', ...",RT @TheRaceRadio: Nice change by @AmericanAir....
4,4,2019-05-22 12:20:28,1.131172975682605e+18,nan,nan,14193348,"('sandeeprrao1991', '2835499934'),('BLRAirport...",RT @sandeeprrao1991: BREAKING:- KLM to fly 3x ...

Only take valid data rows. These are rows where 'in_reply_to_user_id_str' and 'in_reply_to_status_id_str' either both have nan or an id string value.

In [112]:
df_start = result[(result['in_reply_to_user_id_str']=='nan')&(result['in_reply_to_status_id_str']=='nan')]
df_valid = result[(result['in_reply_to_user_id_str']!='nan')&(result['in_reply_to_status_id_str']!='nan')]

#concats df_valid to the end up df_start
df_all = pd.concat([df_start, df_valid])

#print lengths to see how much data we lost -> len(result) - len(df_all)
print(len(df_start))
print(len(df_valid))
print(len(df_all))
print(len(result))
print(len(result) - len(df_all))

3702539
1690413
5392952
5805153
412201

Extract user mention id (id's instead of screen names) from 'entity_user_mentions' and create a list of them in a new column 'entity_user_mention_id'.

In [113]:
import re

df_start['entity_user_mention_id'] = [re.findall(r"\d+",n) for n in df_start['entity_user_mentions']]
print(df_start[['entity_user_mention_id']].head(20))

C:\Users\hetvi\AppData\Local\Temp/ipykernel_18836/1367534190.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_start['entity_user_mention_id'] = [re.findall(r"\d+",n) for n in df_start['entity_user_mentions']]

                               entity_user_mention_id
0                                                  []
1   [1, 880417607865815040, 1000793307688058880, 2...
3                     [227687574, 22536055, 13192972]
4             [1991, 2835499934, 3274266002, 8279892]
5                                                  []
6                                          [18332190]
8                               [22536055, 234423098]
13                                       [2383996850]
16                                         [22536055]
18         [45732580, 21867685, 31122496, 1327721360]
20                                                 []
24                                          [5920532]
25                            [381426637, 1542862735]
26                                         [22536055]
27             [2, 421475959, 1542862735, 2689427773]
29                   [86483747, 408877491, 471878399]
31  [1000793307688058880, 799402837675380736, 2789...
32                              [38676903, 131494378]
34                                                 []
35                              [264248576, 18332190]

Create df_all_sel, a df with all the rows/Tweets where the airlines are mentioned.

In [114]:
airline_list = ['56377143','106062176','18332190','22536055','124476322','26223583','2182373406','38676903','1542862735',\
                '253340062','218730857','45621423','20626359']

In [115]:
df_start['entity_user_mention_id'] = df_start['entity_user_mention_id'].apply(lambda x:list(set(x).intersection(set(airline_list))))
df_start['entity_user_mention_id_count'] = df_start['entity_user_mention_id'].str.len()

#all start tweets where there are user mentions
df_start_sel = df_start[df_start['entity_user_mention_id_count']!= 0]
print(len(df_start_sel))# all start Tweets where an airline was mentioned
print(df_start_sel['entity_user_mention_id_count'].max())

C:\Users\hetvi\AppData\Local\Temp/ipykernel_18836/758079258.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_start['entity_user_mention_id'] = df_start['entity_user_mention_id'].apply(lambda x:list(set(x).intersection(set(airline_list))))
C:\Users\hetvi\AppData\Local\Temp/ipykernel_18836/758079258.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_start['entity_user_mention_id_count'] = df_start['entity_user_mention_id'].str.len()

1165222
6

In [116]:
df_start_sel['user_id_insection'] = df_start_sel['user_id_str'].apply(lambda x:list(set(x).intersection(set(airline_list))))
df_start_sel['user_id_insection_count'] = df_start_sel['user_id_insection'].str.len()

df_start_del = df_start_sel[df_start_sel['user_id_insection_count'] == 0]
# print(len(df_start_del))
# print(len(df_start_sel))

C:\Users\hetvi\AppData\Local\Temp/ipykernel_18836/2974980083.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_start_sel['user_id_insection'] = df_start_sel['user_id_str'].apply(lambda x:list(set(x).intersection(set(airline_list))))
C:\Users\hetvi\AppData\Local\Temp/ipykernel_18836/2974980083.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_start_sel['user_id_insection_count'] = df_start_sel['user_id_insection'].str.len()

In [117]:
df_start_del['entity_user_mention_id_count'] = df_start_del['entity_user_mention_id_count'].astype(int)

In [118]:
df_reply1 = df_valid.copy()

In [119]:
def str_to_list(cell):
    cell = ''.join(c for c in cell if c not in "'[]")
    cell = cell.split(', ')
    return cell
df_con = df_start_del.copy()
df_con['conversation'] = df_con['full_text'].apply(str_to_list)
df_con['con_id_str_list'] = df_con['id_str'].apply(str_to_list)

In [120]:
df_con.head(3)

,Unnamed: 0,tweet_created_at,id_str,in_reply_to_user_id_str,in_reply_to_status_id_str,user_id_str,entity_user_mentions,full_text,entity_user_mention_id,entity_user_mention_id_count,user_id_insection,user_id_insection_count,conversation,con_id_str_list
3,3,2019-05-22 12:20:12,1.1311729094630276e+18,nan,nan,36488556,"('TheRaceRadio', '227687574'),('AmericanAir', ...",RT @TheRaceRadio: Nice change by @AmericanAir....,[22536055],1,[],0,[RT @TheRaceRadio: Nice change by @AmericanAir...,[1.1311729094630276e+18]
6,6,2019-05-22 12:20:36,1.1311730105080628e+18,nan,nan,1662186764,"('British_Airways', '18332190')",Thanks @British_Airways I really needed the ex...,[18332190],1,[],0,[Thanks @British_Airways I really needed the e...,[1.1311730105080628e+18]
8,8,2019-05-22 12:20:49,1.1311730651220788e+18,nan,nan,2730172562,"('AmericanAir', '22536055'),('EWRairport', '23...",So @AmericanAir @EWRairport lied to an old lad...,[22536055],1,[],0,[So @AmericanAir @EWRairport lied to an old la...,[1.1311730651220788e+18]

CHANGE AIRLINE CODE according to which airline you want conversations for

In [122]:
def Conversation(airline_code: str):
    df_con['judgement'] = df_con['entity_user_mention_id'].apply(lambda x: airline_code in x)
    air_56377143 = df_con[df_con['judgement']==True]
    print(len(df_con))
    df_reply_id_list = df_reply1['in_reply_to_status_id_str'].tolist()
    df_reply_id_sl = list(set(df_reply_id_list))
    air_56377143['judgment_reply'] = air_56377143[['id_str']].isin(df_reply_id_sl)
    air_56377143.head()
    air_56377143_use = air_56377143[air_56377143['judgment_reply']==True]
    mask = air_56377143_use['id_str'].tolist()
    print(len(air_56377143_use))
    df_reply_56377143 = df_reply1[df_reply1['in_reply_to_status_id_str'].isin(mask)]
    df_reply_56377143['intersection_judgement1'] = df_reply_56377143['user_id_str'].apply(lambda x:list(set(x).intersection(set(air_56377143_use['user_id_str'].tolist()))))
    df_reply_56377143['judgement1'] = np.where(df_reply_56377143['intersection_judgement1']==1,True,False)

    df_reply_56377143['judgement2'] = df_reply_56377143['user_id_str'].apply(lambda x:x == airline_code)
    df_reply_56377143_use = df_reply_56377143[(df_reply_56377143['judgement1'] == True)|(df_reply_56377143['judgement2'] == True)]
    air_56377143_test = air_56377143_use[['tweet_created_at','id_str','in_reply_to_user_id_str',\
                                                  'in_reply_to_status_id_str','user_id_str','entity_user_mentions',\
                                                  'entity_user_mention_id','full_text','conversation','con_id_str_list']].copy()
    reply_56377143_v1 = df_reply_56377143_use[['tweet_created_at','id_str','in_reply_to_user_id_str',\
                                                  'in_reply_to_status_id_str','user_id_str','full_text']].copy()
    air_56377143_test['con_id_str_list1'] = air_56377143_test['con_id_str_list'].apply(lambda x:list())
    reply_56377143_v1['in_reply_to_status_id_str'] = reply_56377143_v1['in_reply_to_status_id_str'].astype(str)
    air_56377143_test['id_str'] = air_56377143_test['id_str'].astype(str)

    for index,info in reply_56377143_v1.iterrows():
        index = air_56377143_test.index[air_56377143_test.id_str == info['in_reply_to_status_id_str']].tolist()[0]
        if info['id_str'] not in air_56377143_test['con_id_str_list1'][index]:
            air_56377143_test['con_id_str_list1'][index].append(info['id_str'])
            air_56377143_test['conversation'][index].append(info['full_text'])
    reply_1 = []
    for index,info in air_56377143_test[['con_id_str_list1']].iterrows():
        reply_1 = reply_1 + info[0]
    df_reply_1 = df_reply1.copy()
    df_reply_1 = df_reply_1
    df_reply_1 = df_reply_1[df_reply_1['id_str'].isin(reply_1)]
    air_56377143_test['con_id_str_list2'] = air_56377143_test['con_id_str_list'].apply(lambda x:list())
    air_56377143_test['con_id_str_list2']
    df_reply_id_2 = df_reply1['in_reply_to_status_id_str'].tolist()
    df_reply_id_sl = list(set(df_reply_id_list))
    df_reply_1['judgment_reply'] = df_reply_1[['id_str']].isin(df_reply_id_sl)
    df_reply_1.head()
    df_reply_1_use = df_reply_1[df_reply_1['judgment_reply']==True]
    mask = df_reply_1_use['id_str'].tolist()
    df_reply_56377143_2 = df_reply1[df_reply1['in_reply_to_status_id_str'].isin(mask)]
    final_list = df_reply_1_use['user_id_str'].tolist() + air_56377143_test['user_id_str'].tolist()
    df_reply_56377143_2['intersection_judgement1'] = df_reply_56377143_2['user_id_str'].apply(lambda x:list(set(x).intersection(set(final_list))))
    df_reply_56377143_2['judgement1'] = np.where(df_reply_56377143_2['intersection_judgement1']==1,True,False)

    df_reply_56377143_2['judgement2'] = df_reply_56377143_2['user_id_str'].apply(lambda x:x == airline_code)
    df_reply_56377143_2_use = df_reply_56377143_2[(df_reply_56377143_2['judgement1'] == True)|(df_reply_56377143_2['judgement2'] == True)]
    for index,info in df_reply_56377143_2_use.iterrows():
        for i,info2 in air_56377143_test.iterrows():
            if info['in_reply_to_status_id_str'] in info2['con_id_str_list1']: 
                index = air_56377143_test.index[air_56377143_test.id_str == info2['id_str']].tolist()[0]
                if info['id_str'] not in air_56377143_test['con_id_str_list2'][index]:
                    air_56377143_test['con_id_str_list2'][index].append(info['id_str'])
                    air_56377143_test['conversation'][index].append(info['full_text'])
    reply_2 = []
    for index,info in air_56377143_test[['con_id_str_list2']].iterrows():
        reply_2 = reply_2 + info[0]
    df_reply_2 = df_reply1.copy()
    df_reply_2 = df_reply_2[df_reply_2['id_str'].isin(reply_2)]
    air_56377143_test['con_id_str_list3'] = air_56377143_test['con_id_str_list'].apply(lambda x:list())
    air_56377143_test['con_id_str_list3']
    df_reply_id_3 = df_reply1['in_reply_to_status_id_str'].tolist()
    df_reply_id_sl = list(set(df_reply_id_list))
    df_reply_2['judgment_reply'] = df_reply_2[['id_str']].isin(df_reply_id_sl)
    df_reply_2.head()
    df_reply_2_use = df_reply_2[df_reply_2['judgment_reply']==True]
    mask = df_reply_2_use['id_str'].tolist()
    df_reply_56377143_3 = df_reply1[df_reply1['in_reply_to_status_id_str'].isin(mask)]
    final_list = df_reply_1_use['user_id_str'].tolist() + air_56377143_test['user_id_str'].tolist() + df_reply_2_use['user_id_str'].tolist()
    df_reply_56377143_3['intersection_judgement1'] = df_reply_56377143_3['user_id_str'].apply(lambda x:list(set(x).intersection(set(final_list))))
    df_reply_56377143_3['judgement1'] = np.where(df_reply_56377143_3['intersection_judgement1']==1,True,False)
    df_reply_56377143_3['judgement2'] = df_reply_56377143_3['user_id_str'].apply(lambda x:x == airline_code)
    df_reply_56377143_3_use = df_reply_56377143_3[(df_reply_56377143_3['judgement1'] == True)|(df_reply_56377143_3['judgement2'] == True)]
    air_56377143_test['full_conversation_ids'] = air_56377143_test['con_id_str_list'] + air_56377143_test['con_id_str_list1'] + air_56377143_test['con_id_str_list2']
    air_56377143_test.to_csv(f'conversations_{airline_code}', index=False)
    return air_56377143_test

In [123]:
Conversation('26223583')

1165222

C:\Users\hetvi\AppData\Local\Temp/ipykernel_18836/2460289222.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  air_56377143['judgment_reply'] = air_56377143[['id_str']].isin(df_reply_id_sl)
C:\Users\hetvi\AppData\Local\Temp/ipykernel_18836/2460289222.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reply_56377143['intersection_judgement1'] = df_reply_56377143['user_id_str'].apply(lambda x:list(set(x).intersection(set(air_56377143_use['user_id_str'].tolist()))))
C:\Users\hetvi\AppData\Local\Temp/ipykernel_18836/2460289222.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reply_56377143['judgement1'] = np.where(df_reply_56377143['intersection_judgement1']==1,True,False)
C:\Users\hetvi\AppData\Local\Temp/ipykernel_18836/2460289222.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reply_56377143['judgement2'] = df_reply_56377143['user_id_str'].apply(lambda x:x == airline_code)

16

,tweet_created_at,id_str,in_reply_to_user_id_str,in_reply_to_status_id_str,user_id_str,entity_user_mentions,entity_user_mention_id,full_text,conversation,con_id_str_list,con_id_str_list1,con_id_str_list2,con_id_str_list3,full_conversation_ids
10845,2019-05-23 07:21:41,1.131460172835152e+18,nan,nan,38915602,"('airberlin', '26223583'),('eurowings', '26462...",[26223583],"Gute Nachrichten!! @airberlin fliegt wieder, @...","[Gute Nachrichten!! @airberlin fliegt wieder, ...",[1.131460172835152e+18],[],[],[],[1.131460172835152e+18]
500375,2019-06-18 08:56:00,1.1409059916403548e+18,nan,nan,17688643,"('airberlin', '26223583')",[26223583],Heute back to the future mit @airberlin!,[Heute back to the future mit @airberlin! ],[1.1409059916403548e+18],[],[],[],[1.1409059916403548e+18]
682085,2019-06-26 12:58:37,1.14386615313306e+18,nan,nan,402012252,"('airberlin', '26223583')",[26223583],"People of twitter, I've just received a refund...","[People of twitter, Ive just received a refund...",[1.14386615313306e+18],[],[],[],[1.14386615313306e+18]
840200,2019-07-04 06:11:57,1.1466629144111064e+18,nan,nan,312134808,"('airberlin', '26223583')",[26223583],Now at #TXL still flying @airberlin #ber4evr,[Now at #TXL still flying @airberlin #ber4evr ],[1.1466629144111064e+18],[],[],[],[1.1466629144111064e+18]
841780,2019-07-04 08:39:07,1.1466999493059953e+18,nan,nan,17482096,"('biobooster', '116841893'),('airberlin', '262...",[26223583],Post inspired by @biobooster. Perhaps the last...,[Post inspired by @biobooster. Perhaps the las...,[1.1466999493059953e+18],[],[],[],[1.1466999493059953e+18]
1905945,2019-08-30 14:25:09,1.167443139063419e+18,nan,nan,1128733448045322241,"('airberlin', '26223583')",[26223583],yo @airberlin one ticket please,[yo @airberlin one ticket please],[1.167443139063419e+18],[],[],[],[1.167443139063419e+18]
2313301,2019-09-24 19:49:11,1.1765843832953815e+18,nan,nan,15055852,"('airberlin', '26223583')",[26223583],Hat bei @airberlin ja auch schon so gut geklap...,[Hat bei @airberlin ja auch schon so gut gekla...,[1.1765843832953815e+18],[],[],[],[1.1765843832953815e+18]
2482047,2019-10-28 22:42:42,1.188949239147225e+18,nan,nan,4311425481,"('airberlin', '26223583'),('MUC_Airport', '605...",[26223583],Moments which are gone since two years but sti...,[Moments which are gone since two years but st...,[1.188949239147225e+18],[],[],[],[1.188949239147225e+18]
2515956,2019-10-31 21:33:55,1.1900190893113836e+18,nan,nan,14612265,"('airberlin', '26223583')",[26223583],"Oh @airberlin, only 4 years ago. Feels like ye...","[Oh @airberlin, only 4 years ago. Feels like y...",[1.1900190893113836e+18],[],[],[],[1.1900190893113836e+18]
2712310,2019-11-14 01:05:32,1.1947833891083756e+18,nan,nan,37687736,"('airberlin', '26223583')",[26223583],Danke für den Medienpreis Luft- und Raumfahrt ...,[Danke für den Medienpreis Luft- und Raumfahrt...,[1.1947833891083756e+18],[],[],[],[1.1947833891083756e+18]
2903675,2019-11-23 23:05:07,1.1983769635739853e+18,nan,nan,15955335,"('airberlin', '26223583')",[26223583],Die @airberlin Schoki performt immer noch. Ich...,[Die @airberlin Schoki performt immer noch. Ic...,[1.1983769635739853e+18],[],[],[],[1.1983769635739853e+18]
3024084,2019-12-03 19:23:19,1.2019450233628713e+18,nan,nan,541085722,"('airberlin', '26223583'),('AirCanada', '54904...",[26223583],I thought @airberlin’s customer service sucked...,[I thought @airberlin’s customer service sucke...,[1.2019450233628713e+18],[],[],[],[1.2019450233628713e+18]
3920865,2020-02-07 21:58:18,1.2259016251282268e+18,nan,nan,14612265,"('airberlin', '26223583'),('Sansibar_Sylt', '3...",[26223583],WTF? 😱 Hmmm... Da ist schon nen Unterschied. 😂...,[WTF? 😱 Hmmm... Da ist schon nen Unterschied. ...,[1.2259016251282268e+18],[],[],[],[1.2259016251282268e+18]
4247333,2020-02-22 10:45:58,1.2311682480471204e+18,nan,nan,2817406821,"('Airbus', '15425377'),('airberlin', '26223583...",[26223583],Was this steam-powered @Airbus #A319 the downf...,[Was this steam-powered @Airbus #A319 the down...,[1.2311682480471204e+18],[],[],[],[1.2311682480471204e+18]
5631002,2020-01-16 19:24:03,1.2178902749842432e+18,nan,nan,14612265,"('airberlin', '26223583')",[26223583],Interesting liveries! Somehow @airberlin is st...,[Interesting liveries! Somehow @airberlin is s...,[1.2178902749842432e+18],[],[],[],[1.2178902749842432e+18]
5682425,2020-02-21 21:09:24,1.2309627492676403e+18,nan,nan,211532417,"('manairport', '19913832'),('Gatwick_Airport',...",[26223583],Positioning into @manairport from @Gatwick_Air...,[Positioning into @manairport from @Gatwick_Ai...,[1.2309627492676403e+18],[],[],[],[1.2309627492676403e+18]